<button class="btn btn-primary mb-3" (click)="show = !show">{{show? 'Close' : 'Add a Review'}}</button>

<div *ngIf="show">
  <form class="border">
    <div class="row">
      <div class="col-md-4 pl-4">
        <div class="form-group">
          <label class="mr-1">Game: </label>
          <input type="text" style="width: 205px;" name="game" placeholder="Enter the games name" #game>
        </div>
        <div class="form-group">
          <label class="mr-1">Rating: </label>
          <input type="number" style="width: 200px;" min="0" max="5" name="rating" placeholder="Add a rating between 0-5" #rating>
        </div>
        <div class="form-group">
          <label class="mr-1">Date: </label>
          <input type="text" style="width: 215px;" name="date" placeholder="Enter games release date" #date>
        </div>
        <div class="form-group">
          <label class="mr-1">Reviewer: </label>
          <input type="text" name="reviewer" placeholder="Enter your Name" #reviewer>
        </div>
        <button class="btn btn-primary" type="submit" (click)="addTheReview(game.value, rating.value, date.value, review.value, reviewer.value)">
          Add the review
        </button>
      </div>
      <div class="col-md-8">
        <div class="form-group">
        <label>Review: </label>
        <textarea style="width: 98%;" rows="4" type="text" name="review" placeholder="Enter a review" #review></textarea>
      </div>
      </div>
    </div>
    
  </form>
</div>

<!-- <div class="col">
  <label>Review: </label>
  <textarea rows="8" type="text" name="review" placeholder="Write your review" #review>
  </textarea>
</div> -->