
<div class="container mt-5">
    <!-- <div class="container">
      <div class="row border">
        <div class="col-1">
          Game Name: {{reviewData.game}}
        </div>

        <div class="col-1">
          Rating: {{reviewData.rating}}
        </div>

        <div class="col-1">
          Release Date: {{reviewData.date}} 
        </div>

        <div class="col-1">
          Review: {{reviewData.review}}
        </div>

        <div class="col-1">
          Reviewer: {{reviewData.reviewer}}
        </div>
      </div>
    </div> -->
    <table class="table table-bordered table-striped mb-5">
      <tbody>
        <tr >
          <th>Game Name: <strong class="game">{{reviewData.game}} </strong></th>
        </tr>
        <tr>
          <th>Rating: {{reviewData.rating}}</th>
        </tr>
        <tr>
          <th>Release Date: {{reviewData.date}}</th>
        </tr>
        <tr>
          <th>Review: {{reviewData.review}}</th>
        </tr>
        <tr>
          <th>Reviewer: {{reviewData.reviewer}}</th>
        </tr>
      </tbody>
    </table>
    <!-- <app-review-list></app-review-list> -->
  </div>