
<div class="container">
    <h1 class="h1 text-center">User Game Reviews</h1>

    <div class="container">
      <div class="row border">
        <div class="col-3">
          {{reviewData.game}}
        </div>

        <div class="col-3">
          {{reviewData.rating}}
        </div>

        <div class="col-3">
          {{reviewData.date}} 
        </div>

        <div class="col-3">
          {{reviewData.review}}
        </div>

        <div class="col-3">
          {{reviewData.reviewer}}
        </div>
      </div>
    </div>
    <!-- <app-review-list></app-review-list> -->
  </div>