<div *ngIf="!ngAuthService.userState">
    <h1 class="h1 text-center">Sign in to have full access to web app</h1>
</div>

<div *ngIf="ngAuthService.userState">

  <h1 class="h1 text-center">Search for a game</h1>
  <app-game></app-game>
  <div class="container">
  
    <!-- <button (click)="openAddReview()" *ngIf="!showReviewForm"
      class="btn btn-lg btn-outline-primary" >Add a Review
    </button>
  
    <button (click)="openEditReview()" *ngIf="!showReviewForm" [disabled]="!currentReview"
    class="btn btn-lg btn-outline-primary" > edit 
    </button> -->  
    
     <!-- <app-review-form *ngIf="showReviewForm"
      (reviewFormClose)="reviewFormClose($event)" [review]="currentReview">
     </app-review-form>
  
      <p>
        <ngb-alert *ngIf="message" [dismissible]="true">
          <strong>Warning!</strong> {{message}}
        </ngb-alert>
      </p> -->
  </div>
</div>
