<div class="container">
    
    <div class="row border">
        <div class="col-md-6 form-line">
            <div class="form-group">
                Game Name: {{reviewData.game}}
            </div>
            <div class="form-group">
                Review Rating: {{reviewData.rating}}
            </div>
            <div class="form-group">
                reviewer: {{reviewData.reviewer}}
            </div>
            <div class="form-group">
                date: {{reviewData.date}}
            </div>
            
    
        </div>
        <div class="col-md-6">
            <div class="form-group">
            {{reviewData.review}}
        </div>
        
        </div>
    </div> 
</div>
    