<!-- <button (click)="show = !show">{{show? 'Hide' : 'Add a Review'}}</button>

<div *ngIf="show">
    <form>
        <label>Game</label>
        <input type="text" name="game" placeholder="Enter the games name" #game>

        <label>rating</label>
        <input type="number" name="rating" placeholder="0" #rating>
        
        <label>Date</label>
        <input type="text" name="date" placeholder="Enter the date of game release" #date>
        
        <label>Reviewer</label>
        <input type="text" name="reviewer" placeholder="Enter your Name" #reviewer>
        
        <label>Review</label>
        <input type="text" name="review" placeholder="Write your review" #review>
        
        <button type="submit" (click)="addTheReview(reviewer.value, game.value, rating.value, review.value, date.value)">
            Add the review
        </button>
    </form>
</div> -->


<div class="container">
    <h1 class="h1 text-center">User Game Reviews</h1>
    <div class="borders">        
        <app-review-page *ngFor="let reviewData of reviewsData" [reviewData]="reviewData"></app-review-page>
    </div>
</div>