
<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-end">
      <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
          <a class="nav-item nav-link" routerLink="" routerLinkActive="active">Reviews</a>
          <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">profile</a>
          <a class="nav-item nav-link" routerLink="" routerLinkActive="active">Sign in</a>
      </div>
      </nav>
  <router-outlet></router-outlet>
</div>